
/* Nav Bar*/
.navbar-brand{font-family: 'Merriweather', serif;
}

.navbar-nav{float: left;
	line-height: 2.0;

}

/*Jumbotron*/
.jumbotron {background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e6f2f2, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e6f2f2, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.display-4 {font-family: 'Merriweather', serif;
font-weight: 900;
padding-left: 2rem;
font-size: 3rem;

}

.lead {font-family: 'Open Sans', sans-serif;
padding-left: 2rem;

}

#avatar{
	height: auto;
	width: auto;

}
