
/* Nav Bar*/
.navbar-brand{font-family: 'Merriweather', serif;}

.navbar-nav{float: left;
	line-height: .5;
}

.nav-item{float: left;
}

#icon{margin: 1em;
	height: 10%;
	width: 10%;
}

.nav-link{
}
/*Jumbotron*/
.jumbotron {background: rgb(48,51,79);
background: linear-gradient(90deg, rgba(48,51,79,1) 55%, rgba(245,246,255,1) 55%);

/*{background: rgb(252,211,149);
background: linear-gradient(90deg, rgba(252,211,149,1) 0%, rgba(238,224,208,1) 39%, rgba(245,246,255,1) 100%);

/*{background: #abbaab;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #e6f2f2, #ffffff);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #e6f2f2, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.display-4 {font-family: 'Merriweather', serif;
font-weight: 900;
padding-left: 5%;
font-size: 50%;
color: #ffffff;
text-overflow: wrap;

}

.lead {font-family: 'Open Sans', sans-serif;
padding-left: 5%;
color: #ffffff;

}

#avatar{
	height: 50%;
	width: 50%;

}
